.App {
  text-align: center;
}

.App header {
  background-color: #222;
  height: 150%;
  padding: 20px;
  color: white;
}

.App h1 {
  font-size: 1.5em;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-links {

  padding: 1em;
  color: white;
  font-weight: 900;
  font-size: 30px;
}

.profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.list-image {
  padding: .5em;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.list_details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.list_links {

  color: white;
}